{% include 'nav.html' %}
<div class="main">
{% block content %}
    <center>
	<div class="">
		<div class="d-flex justify-content-center">
			<div class="card" style="width: 38rem;">
		<center>
		<form action="{{url_for('deleteShopCategory',mvid=mv.id)}}" method="POST">
		
			<div class="card-body bg-info">
				<h2 class="card-text"style="background-color:white">Are you sure you want to delete {{mv.name}}</h2>
			</div>
			<div class="card-footer d-flex justify-content-center">
				<input type="submit" class="btn btn-danger" value="Delete" style="margin-right: 10px;">
			    <button type="button" class="btn btn-warning" style="background-color:white"><a href="http://localhost:8000/home">Cancel</a></button>
			</div>
			
		</form>
		</center>
	</div>
		</div>
		
	</div>
	</center>
	{% endblock content %}